footer{
    height: 20vh;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
footer a img{
    width: 30px;
    background: rgba(255, 255, 255, 0.144);
    padding: 1vh 1vw;
    border-radius: 50%;
}
footer a img:hover{
    width: 40px;
    background: rgb(255, 255, 255);
}