#clock{
  position: relative;
  margin: auto;
  width:40vw;
  height:40vw;
  background: url(clock.png) no-repeat;
  background-size: 100%;
  border: 3px solid green;
}

#hour, #minute, #second {
  position: absolute;
  border-radius: 10px;
  opacity: 0.5;
  transform-origin: bottom;;
}

#hour {
  background-color: black;
  width: 3%;
  height: 24%;
  left: 48.3%;
  top: 26%;
}

#minute {
  background-color: green;
  width: 2%;
  height: 31%;
  left: 48.9%;
  top: 19%;
}

#second {
  background-color: blue;
  width: 1%;
  height: 37%;
  left: 49.4%;
  top: 13%;
}
