body {
  margin: 0;
  background-color: #f2f6ff;
}

header {
  background-color: #171952;
  text-align: center;
  padding: 20px;
}

.head-text {
  color: white;
  font-size: 20px;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

#heading {
  text-align: center;
  font-size: 25px;
  margin-top: 50px;
  margin-bottom: 30px;
}

#contact-form {
  border: 2px solid #ccc;
  background-color: white;
  width: 450px;
  padding: 10px 20px;
  margin: auto;
  text-align: center;
}

.labels {
  border: none;
  border-bottom: 1px solid #aaa;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100%;
  padding-bottom: 5px;
  padding-top: 10px;
  font-size: 20px;
  outline: none;
}

#submit-btn {
  background-color: darkblue;
  color: white;
  font-size: 18px;
  font-family: poppins;
  border: none;
  margin-top: 50px;
  margin-bottom: 15px;
  padding: 13px 30px;
  cursor: pointer;
}

footer {
  background-color: black;
  margin-top: 156px;
  padding: 100px;
  text-align: center;
}

.foot-text {
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
